body {

    background-color: rgb(198, 215, 231);
    font-size: 40px;
}

.viso{
    height: 60px;
    width: 300px;
    font-size: 20px;
    margin: auto;
    border: 10px solid rgb(125, 255, 142);
    border-radius: 20px;
}

.botaor{
    font-size: 20px;
    width: 60px;
    height: 60px;
    background: rgba(94, 182, 233, 0.3);
    border-radius: 30%;
    
}

.margem{
    width: 350px;
    height: 250px;
    margin: auto;
    border-radius: 30px;
    
}

.corp{
    background-color: rgb(93, 209, 155);
    width:fit-content;
    height: fit-content;
    border-radius: 5px;
}